<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=DESKTOP-JVQ0JSM;Initial Catalog=PeopleDb;Integrated Security=True"/>
	</connectionStrings>
	<appSettings>
		<add key="InitialDirectory" value ="C:\" />
		<add key="Filter" value ="Excel files (*.xlsx)|*.xlsx" />
		<add key="FilterIndex" value ="0" />
		<add key="RestoreDirectory" value = "true" />
	</appSettings>
</configuration>